.head {
display: flex;
justify-content: center;
font-weight: 700;
font-family: 'Times New Roman', Times, serif;
font-size: xx-large;
margin-top: auto;
margin-bottom: auto;
color: black;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 25px;
    padding-left: 20px;
}